<h3 class="display-4 text-center">Hire a house helper that best suits you.</h3>
<p class="lead text-center">
  "Here's what we have to offer"</p>
<br>
<div class="row row-cols-1 row-cols-md-3 g-4 ps-5 ms-4 text-center shadow-sm rounded">
  <div class="col">
    <div class="card text-bg-light mb-3" style="max-width: 18rem;">
      <div class="card-header">House Maid</div>
      <div class="card-body">
        <h5 class="card-title">Housing chores</h5>
        <p class="card-text">Choose the database that best aligns with your project requirements and preferences.</p>
        <a href="#" class="btn btn-primary">Learn more</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-bg-light mb-3" style="max-width: 18rem;">
      <div class="card-header">Baby sitters/Nanny</div>
      <div class="card-body">
        <h5 class="card-title">Take care of your little ones</h5>
        <p class="card-text">Out-of-the-box compatibility with an extensive array of over 28 gems.</p>
        <a href="#" class="btn btn-primary">Learn more</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-bg-light mb-3" style="max-width: 18rem;">
      <div class="card-header">Elder care</div>
      <div class="card-body">
        <h5 class="card-title">Take care of the elderly</h5>
        <p class="card-text">Efficient container management with Docker and Kubernetes for seamless deployment.</p>
        <a href="#" class="btn btn-primary">Learn more</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-bg-light mb-3" style="max-width: 18rem;">
      <div class="card-header">Cooks</div>
      <div class="card-body">
        <h5 class="card-title">Eat dilicious everyday</h5>
        <p class="card-text">Seamlessly accommodating various Ruby and Rails versions, ensuring flexibility.</p>
        <a href="#" class="btn btn-primary">Learn more</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card text-bg-light mb-3" style="max-width: 18rem;">
      <div class="card-header">Patient caretakers</div>
      <div class="card-body">
        <h5 class="card-title">Take care of your loved ones</h5>
        <p class="card-text">Integration with Facebook, Twitter, Linkedin, Google & github omniauth strategies.</p>
        <a href="#" class="btn btn-primary">Learn more</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card text-bg-light mb-3" style="max-width: 18rem;">
      <div class="card-header">Drivers</div>
      <div class="card-body">
        <h5 class="card-title">Go anywhere like a king</h5>
        <p class="card-text">Comprehensive Theme Compatibility with a diverse selection of themes to select from.</p>
        <a href="#" class="btn btn-primary">Learn more</a>
      </div>
    </div>
  </div>
</div>