<h3 class="display-4 text-center">Here's what we have to offer</h3>
<p class="lead text-center">
  "It just gets better everyday."</p>
<br>
<div class="row row-cols-1 row-cols-md-3 g-4 ps-5 ms-4 text-center shadow-sm rounded">
  <div class="col">
    <div class="card text-bg-light mb-3" style="max-width: 18rem;">
      <div class="card-header">Database</div>
      <div class="card-body">
        <h5 class="card-title">Mysql, Postgresql, Sqlite3</h5>
        <p class="card-text">Choose the database that best aligns with your project requirements and preferences.</p>
        <a href="#" class="btn btn-primary">Learn more</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-bg-light mb-3" style="max-width: 18rem;">
      <div class="card-header">Gems</div>
      <div class="card-body">
        <h5 class="card-title">Over 28 + gems supported</h5>
        <p class="card-text">Out-of-the-box compatibility with an extensive array of over 28 gems.</p>
        <a href="#" class="btn btn-primary">Learn more</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-bg-light mb-3" style="max-width: 18rem;">
      <div class="card-header">Container Orchestration</div>
      <div class="card-body">
        <h5 class="card-title">With Docker & Kubernetes</h5>
        <p class="card-text">Efficient container management with Docker and Kubernetes for seamless deployment.</p>
        <a href="#" class="btn btn-primary">Learn more</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-bg-light mb-3" style="max-width: 18rem;">
      <div class="card-header">Multi-version Support</div>
      <div class="card-body">
        <h5 class="card-title">Version Flexibility</h5>
        <p class="card-text">Seamlessly accommodating various Ruby and Rails versions, ensuring flexibility.</p>
        <a href="#" class="btn btn-primary">Learn more</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card text-bg-light mb-3" style="max-width: 18rem;">
      <div class="card-header">Omniauth</div>
      <div class="card-body">
        <h5 class="card-title">Five Omniauth Options.</h5>
        <p class="card-text">Integration with Facebook, Twitter, Linkedin, Google & github omniauth strategies.</p>
        <a href="#" class="btn btn-primary">Learn more</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card text-bg-light mb-3" style="max-width: 18rem;">
      <div class="card-header">Versatile Theme Compatibility</div>
      <div class="card-body">
        <h5 class="card-title">Light card title</h5>
        <p class="card-text">Comprehensive Theme Compatibility with a diverse selection of themes to select from.</p>
        <a href="#" class="btn btn-primary">Learn more</a>
      </div>
    </div>
  </div>
</div>