<div class="container-fluid">
  <div class="jumbotron">
    <div class="p-5 mb-4 bg-light rounded-3">
      <h1 class="display-4">Welcome to bai.in!</h1>
      <p class="lead">
        "Are you fed up searching a house helper & can't find one?"</p>
      <hr class="my-4">
      <p>Well, we are here happy to serve you.</p>
    </div>
  </div>

  <%= render 'features' %>

  <br> <br>

  <ul class="nav nav-tabs nav-fill bg-gradient" id="myTab" role="tablist">

  </ul>
  <br>
  <h2 class="text-4xl font-extrabold tracking-tight text-gray-900 sm:text-4xl"> Have something in mind? Connect with us </h2>


<!--  <h2  class="text-4xl font-extrabold tracking-tight text-gray-900 sm:text-4xl"> Let's contribute & collaborate with the Rails SilverSpoon community. </h2>-->


</div>




